display.erb

<div class="container">
  <div><a href="/students/emails">Oops! Need to enter more emails</a></div>
  <div>&nbsp;</div>
  <div>
  <table class="table table-bordered">
  	<tr>
  	  <th>EMAIL</th>
  	  <th>PASSWORD</th>
  	</tr>
  <% @students.each do |student| %>
  	
  	<tr>
  	  <td><%= student.email %></td>
  	  <td><%= student.password %></td>
  	</tr>
  <% end %>
  </table>
  </div>

  <div>
  <form method="post" action="/students/text">
  <table>
  <tr>
    <td>Enter a phone number to text this info</td>
  </tr>
  <tr>
    <td><input type="text" name="text_number"></td>
  </tr>
  <tr>
    <td><input type="submit" value="send"></td>
  </tr>
  </table>
  </form>
</div>